.header {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  display: flex;
}

.linkContainer {
  padding-left: 5rem;
}

.link {
  display: inline-block;
  position: relative;
  color: white;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover {
  cursor: pointer;
  font-weight: 700;
}

.link2 {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 700;
}