.header {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

Nav {
  margin-bottom: -.75rem;
}

p {
  margin-left: 1.5rem;
}

.button-container {
  padding-left: 5rem;
}

.button {
  display: inline-block;
  position: relative;
  color: white;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button:hover {
  cursor: pointer;
  font-weight: 700;
}

.button2 {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 700;
}