h1 {
  text-align: center;
}

.selections {
  padding-top: 1.5rem;
  padding-left: .5rem;

  background:
    linear-gradient(to right, white 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, white 1px, transparent 1px) 0 0;

  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.button {
  display:block;
  position: relative;
  color: white;
  width: fit-content;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button:hover {
  cursor: pointer;
  font-weight: 700;
}

.link-container {
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  margin-left: 2rem;
}

.link:hover {
  cursor: pointer;
}